name: Context Demo

on: 
    push:
    workflow_dispatch:

jobs:
    analysis:
        runs-on: ubuntu-latest
        outputs:
          secret-message: ${{ steps.secretMessage.outputs.message }}

        steps:  
        - name: Zeige unser Geheimnis! Muhahahahaha
          run: |
            echo "Geheimnis lautet: ${{ toJson(secrets.MY_SECRET) }}"
        
        - name: Zeige GitHub Kontext
          run: echo '${{ toJson(github) }}'

        - name: Zeige Runner Kontext
          run: echo '${{ toJson(runner) }}'
        
        - name: Zeige Steps Kontext
          run: echo '${{ toJson(steps) }}'
          
        - name: Step Message schreiben
          id: secretMessage
          run: echo "message=Wuhuuu!" > "$GITHUB_OUTPUT"

        - name: Zeige Steps Kontext
          run: echo '${{ toJson(steps) }}'

    jobs2:
        runs-on: ubuntu-latest
        needs: analysis

        steps:
        - name: Outputs anzeigen
          run: |
                echo "Geheime Message aus Job 1: ${{ needs.analysis.outputs.secret-message }}"