name: Context Demo

on: 
    push:
    workflow_dispatch:
        inputs:
          environment:
            description: Umgebung festlegen
            required: true
            default: Development
            type: choice
            options:
              - Production
              - Development

jobs:
    analysis:
        runs-on: ubuntu-latest
        outputs:
          secret-message: ${{ steps.secretMessage.outputs.message }}
        environment: ${{ github.event.inputs.environment }}

        steps:  
        - name: Zeige unser Geheimnis! Muhahahahaha
          run: |
            echo "Geheimnis lautet: ${{ toJson(secrets.MY_SECRET) }}"
        
        - name: Secret auf DATEV pr端fen
          env:
              GEHEIM: ${{ secrets.MY_SECRET }}
          if: env.GEHEIM == 'I love DATEV'
          run: echo "Viel liebe f端r DATEV!" 

        - name: Secret auf DATEV (production) pr端fen
          env:
              GEHEIM: ${{ secrets.MY_SECRET }}
          if: env.GEHEIM == 'I really love Datev'
          run: echo "Ganz viel liebe f端r DATEV! (Production Version)"

        - name: Zeige GitHub Kontext
          run: echo '${{ toJson(github) }}'

        - name: Zeige Runner Kontext
          run: echo '${{ toJson(runner) }}'
        
        - name: Zeige Steps Kontext
          run: echo '${{ toJson(steps) }}'
          
        - name: Step Message schreiben
          id: secretMessage
          run: echo "message=Wuhuuu!" > "$GITHUB_OUTPUT"

        - name: Zeige Steps Kontext
          run: echo '${{ toJson(steps) }}'

    jobs2:
        runs-on: ubuntu-latest
        needs: analysis

        steps:
        - name: Outputs anzeigen
          run: |
                echo "Geheime Message aus Job 1: ${{ needs.analysis.outputs.secret-message }}"